/*
 * Vertical rhythm mixins, placeholders and functions
 */

// em
@function em($target, $context: $font-size) {
  @if $target == 0 {
    @return 0;
  }
  @else {
    @return #{$target / $context}em;
  }
}
