#progress-cont {
  height: 5px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

#progress-bar {
  height: 100%;

  .guia_a-semantica & { background-color: $html5-color; }
  .guia_o-css & { background-color: $css3-color; }
  .guia_a-acessibilidade & { background-color: $accessibility-color; }
  .guia_o-javascript & { background-color: $js-color; }
}
