
<section id="home">
  <header class="home-header">
    <h1>
      <span class="home-brandIcon"></span>
      <span class="home-brandA">Front-end</span><br>
      <span class="home-brandB">Path.com</span>
    </h1>
    <h2>The right path to Front-end Development.</h2>
  </header>
  <hr class="home-separator" />
</section>

<section id="home-introduction">
  <article>
    <div class="container">
      <div class="column-a">
        <p>The <i>WorldWideWeb</i> was a project that aimed to connect users to exchange hypertext content. Fortunately, the project took gigantic proportions in relation to its initial goal.</p>
        <p>No doubts, nowadays the web is one of the major platforms for development.</p>
      </div>

      <div class="column-b">
        <p>On the server side, we have so many languages to work with, like <i>Java, Ruby, Python etc</i>. However, only three languages interacts with the browser: <strong><abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr> e JavaScript</strong>.</p>

        <p></p>
      </div>
    </div>

    <div id="home-question">
      <p>Where should I start?</p>
    </div>

    <div class="container">
      <p><strong class="strong--highlighted">No.</strong></p>

      <div class="column-a">
        <p>There are several web pages in the client-side having a lot of problems with optimizations and performance.</p>

        <blockquote cite="https://www.stevesouders.com">
          <p>80-90% of the end-user response time is spent on the frontend. (Steve Souders, 2007).</p>
        </blockquote>

        <p>Everybody knows it. But how do we solve? There are many paths to follow.</p>
      </div>

      <div class="column-b">
        <p>perhaps the solution is going to the root of the problem and teach patterns instead of going directly to <i>frameworks</i> or libraries.</p>
        <p>Nowadays we have a problem with too much information. A large number of information hinders the learning curve, often leaving developers without knowing <strong>where to start</strong>. That is what we show here, the right path to a good front-end development.</p>
      </div>
    </div>

    <%= link_to "Get started &#8594;", "/guia/a-semantica.html", relative: true, class: "button--html5 button--large", title: "Link para o primeiro caminho do guia." %>
  </article>
</section>

<footer id="home-footer">
  <p>Created by <%= link_to "@fernahh", "http://blog.fernahh.com.br",
    target: "_blank", title: "Link para o site do autor, Luiz Fernando Rodrigues." %>.</p>

  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.frontendpath.com" data-text="Front-end Path | Um caminho correto para o desenvolvimento front-end." data-hashtags="frontendpath">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <div class="fb-like" style="overflow: hidden; position: relative; top: auto; bottom: 0px; left: 0px; margin: 0 10px;" data-href="http://www.frontendpath.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

  <iframe src="https://ghbtns.com/github-btn.html?user=fernahh&repo=frontendpath&type=fork&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>

  <iframe src="https://ghbtns.com/github-btn.html?user=fernahh&repo=frontendpath&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>

</footer>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>