<% wrap_layout :layout do %>
  <%= partial "shared/navigation" %>
  <div class="l-container">
    <aside class="guide-aside">
      <ul class="guide-topics-list">
        <h3>Capítulos:</h3>
        <% chapters(current_page).each do |chapter| -%>
          <li class="guide-topics-item">
            <%= link_to chapter, "##{chapter.downcase.gsub(/\s/, "-")}",
              class: "guide-topics-link", data: { scroll: true } %>
          </li>
        <% end -%>
      </ul>
    </aside>
    <main class="guide-article" id="guide-article">
      <article id="guide-content">
        <h1 class="guide-article-title"><%= current_page.data.title %></h1>
        <%= yield %>
      </article>
    </main>
  </div>
<% end %>
