* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;

  color: $main-color;
  font: {
    family: $main-font;
    size: em($font-size);
  };
  line-height: em($line-height + 6px);

  background: $secondary-color;
}

a {
  color: $semantics-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3,
h4, h5, h6 {
  color: $grayB;
}

blockquote {
  $size: 14px;

  padding: 0 em($whitespace * 1.5, $size);

  font-size: em($size);
  font-style: italic;
  line-height: em($line-height, $size);
  border-left: 2px solid $grayB;
}

code, kbd, pre, samp {
  font-size: 14px;
  line-height: 20px;
}

main {
  height: 100%;
}
