// Colors

$html5-color: #ec652b;
$css3-color: #2baae1;
$js-color: #f0db4e;
$accessibility-color: #0875c8;

$black: #666666;
$blackB: #2b2a2f;
$blackC: #3d464d;
$white: #ffffff;
$gray: #f2f2f2;
$grayA: #e7e7e7;
$grayB: #79787d;

$base-main-color: $black;
$base-secondary-color: $white;

$semantics-color: $html5-color;

// Typography

$font-sans-serif: "Paytone One", sans-serif;
$font-cursive: "Share", cursive;
$font-serif: "Bree Serif", serif;
$font-serifB: "Merriweather", serif;

$base-main-font: $font-serifB;
$base-secondary-font: $font-serif;

$base-font-size: 16px;
$base-line-height: 24px;

// Sizes

$base-trailer: $base-line-height;
$base-whitespace: 10px;
$bp-medium: 720px;
$bp-large: 960px;
$bp-largeB: 1024px;
$bp-largeC: 1260px;

// Border

$base-border-radius: 2px;
