.guide-aside {
  width: 100%;
  padding-left: 70px;
  padding-right: $base-whitespace;

  @include respond-to(em($bp-large)) {
    float: left;

    width: 35%;
    height: 100%;
    padding-left: 100px;
  }

  @include respond-to(em($bp-largeC)) {
    padding-left: 0;
  }
}

.guide-topics-list {
  position: relative;

  padding-top: 60px;
  padding-left: $base-whitespace * 2;

  list-style-type: circle;

  > h3 {
    position: absolute;
    top: 0;
    left: 6px;

    display: inline-block;

    border-bottom: 2px solid $blackC;
  }

  @include respond-to(em($bp-large)) {
    position: fixed;

    width: 220px;
  }

  @include respond-to(em($bp-largeB)) {
    width: 300px;
  }

  @include respond-to(em($bp-largeC)) {
    width: 380px;
  }
}

.guide-topics-link {
  $size: $base-font-size;

  font-size: em($size);
  line-height: em($size, $size);
  text-decoration: none;

  @include attention() {
    text-decoration: underline;
  }
}


.guide-article {
  margin: 0 auto;
  padding-left: 70px;

  @include respond-to(em($bp-large)) {
    float: left;

    width: 65%;
    padding-left: 0;
    padding: em($base-whitespace);
  }
}

.guide-article-title {
  display: inline-block;
  margin-bottom: $base-trailer;
}

#guide-content > p > code {
  display: inline-block;
  padding: 1px 5px;

  color: $grayB;
  font-family: monospace;
  line-height: 18px;

  background: $grayA;
  @include border-radius(4px);
}
