$g-aside-background: #F2F2F2;
$g-aside-color: $grayB;
$g-aside-adjacent: $html5-color;

.guide-aside {
  padding: em($whitespace);
  overflow: auto;

  color: $g-aside-color;

  background-color: $g-aside-background;

  @include respond-to(em($bp-medium)) {
    position: fixed;
    float: left;

    width: 30%;
    height: 100%;
    padding: em($whitespace * 2);
  }

  @include respond-to(em($bp-large)) {
    padding: em($whitespace * 6);
  }

  h2,
  h3 {
    margin-top: 0;

    color: $g-aside-adjacent;
  }
}

  .guide-header {
    section {
      $context: 14px;

      font-size: em($context);
      line-height: em(20px, $context);
    }
  }

.guide-topics-link {
  $size: 14px;

  font-size: em($size);
  color: $g-aside-adjacent;
  text-decoration: none;

  @include attention() {
    color: $g-aside-adjacent;
  }
}
