.guide-navigation {
  position: relative;

  width: 100%;

  background-color: rgba($grayB, .5);

  @include respond-to(em($bp-medium)) {
    background-color: transparent;
  }
}

.guide-navigation-list {
  padding-left: 0;

  list-style-type: none;
  text-align: center;

  @include respond-to(em($bp-medium)) {
    margin: 0;
    padding: em($whitespace);
  }
}

  .guide-navigation-item {
    display: inline-block;
    margin: 0 em(2px);

    @include respond-to(em($bp-medium)) {
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

    .guide-navigation-link {
      $size: 44px;

      display: inline-block;
      width: $size;
      height: $size;

      @include hide-text();

      border: 2px solid $grayA;
      @include border-radius(2px);

      @include transition(all 400ms ease-in-out);
    }

    .introduction-link {
      @include svg("introduction-logo");
      background: {
        color: $black;
        position: center center;
        size: 35px;
      }

      @include attention() {
        border-color: $black;
      }
    }

    .semantics-link {
      @include svg("semantics-logo");
      background-color: $semantics-color;

      @include attention() {
        border-color: $semantics-color;
      }
    }

    .accessibility-link {
      @include svg("accessibility-logo");
      background: {
        color: $accessibility-color;
        position: center center;
        size: 25px;
      }

      @include attention() {
        border-color: $accessibility-color;
      }
    }

    .css-link {
      @include svg("css3-logo");
      background: {
        color: $css3-color;
        position: center center;
        size: 30px;
      }

      @include attention() {
        border-color: $css3-color;
      }
    }

    .js-link {
      @include svg("javascript-logo");

      @include attention() {
        border-color: $js-color;
      }
    }
